<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  <a href={{url_for('index')}}>
      <img src="{{url_for('static',filename='pic/home_icon.png')}}" class = home_icon>
  </a>

  <div class ="loginbox">
    <img src="../static/pic/user_icon.png" class = "user_icon">
    <form id ="Login-page" action="" method="POST">
      <div class = "Login-group">
        <input name = "username" type="username" id ="username" placeholder="Username" required>
      </div>
      <div class = "Login-group">
        <input name = "password" type="password" id ="pass" placeholder="Password" required>
      </div>
      <input type="submit" name="" value="log in"/>
    </form>
    <span id = "register">Don't have an account? <a href="{{ url_for('register') }}">Please Register</a></span>
  </div>
{{error}}
</body>
</html>