<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h1>Please Login</h1>
<form id ="Login-page" action="" method="POST">
    <div class = "Login-group">
        <input name = "username" type="username" id ="username" placeholder="Username" required>
    </div>
    <div class = "Login-group">
        <input name = "password" type="password" id ="pass" placeholder="Password" required>
    </div>
    <input type="submit"/>
</form>
<span id = "login">Don't have an account? <a href="{{ url_for('register') }}">Please Register.</a></span>
{% if error %}
<div id = "error-message" class="alert alert-danger" id = "error message" role="alert">
    {{ error }}
</div>
{%endif%}
</body>
</html>