<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<h1>Create an Account</h1>
<form id ="Registration-page" action="" method="POST">
    <div class = "register-group">
        <input name = "display" type="username" id ="displayuser" placeholder="Display username" required>
    </div>
    <div class = "register-group">
        <input name = "username" type="username" id ="username" placeholder="Username" required>
    </div>
    <div class = "register-group">
        <input name = "password" type="password" id ="pass" placeholder="Password" required>
    </div>
    <input type="submit"/>
</form>
<span id = "register">Already have an account? <a href="{{ url_for('login') }}">Please Login.</a></span>
</body>
</html>