body{
    margin:0;
    padding:0;
    background-image:url("pic/background.jpg");
    background-size: cover;
    /*background-position: center;*/
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: floralwhite;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: 80%;
}

.user_icon{
    width: 100px;
    height: 100px;
    boarder-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    top: calc(10% - 0px);
}

.home_icon {
    width: 70px;
    height: 70px;
}

#Login-page {
    position:absolute;
    text-align:center;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
}

#register {
    position:relative;
    /*text-align:center;*/
    transform: translate(-50%,-50%);
    top: 65%;
    left:3%;
}